asn1crypto==0.23.0
attrs==17.3.0
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
codecov==2.0.10
coverage==4.4.2
cryptography==2.3
cymem==1.31.2
cytoolz==0.8.2
decorator==4.1.2
dill==0.2.7.1
flake8==3.5.0
ftfy==4.4.3
h5py==2.8.0
html5lib==1.0.1
idna==2.6
jedi==0.11.0
mccabe==0.6.1
murmurhash==0.26.4
nltk==3.2.5
numpy==1.13.3
olefile==0.44
parso==0.1.1
pathlib==1.0.1
pexpect==4.3.0
pickleshare==0.7.4
Pillow==4.3.0
plac==0.9.6
pluggy==0.6.0
preshed==1.0.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.5.2
pycodestyle==2.3.1
pycparser==2.18
pyflakes==1.6.0
Pygments==2.2.0
pyOpenSSL==17.5.0
PySocks==1.6.7
pytest==3.3.1
pytest-cov==2.5.1
pytest-pythonpath==0.7.1
python-dateutil==2.7.3
PyYAML==4.2b1
regex==2017.11.9
requests>=2.20.0
revtok==0.0.1
scipy==1.0.0
simplegeneric==0.8.1
six==1.11.0
spacy==1.9.0
termcolor==1.1.0
thinc==6.5.2
toolz==0.8.2
torch==0.3.1
torchtext==0.2.0
torchvision==0.2.0
tqdm==4.19.4
traitlets==4.3.2
ujson==1.35
urllib3>=1.23
wcwidth==0.1.7
webencodings==0.5.1
wrapt==1.10.11
